h1{
    text-align: center;
}

#title{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

.profile-image img{
    width: 250px;
}

.flutuante{
    float: right;
}

.fixar{
    position: fixed;
}